html, body {
	height: 100%;
	box-sizing: border-box;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
}

.leaflet-touch .leaflet-bar a {
	width: 40px;
	height: 40px;
}

.leaflet-draw-draw-polygon {
	background-position: -24px 4px !important;
}

.leaflet-draw-edit-edit {
	background-position: -205px 4px !important;
}

.leaflet-draw-edit-remove {
	background-position: -235px 4px !important;
}

.leaflet-marker-icon {
	cursor: grab !important;
}

path.leaflet-interactive {
	cursor: grab !important;
}

.map-container {
	padding-left: 0;
}

#map {
	height: 100%;
	width: 100%;
	border: 3px solid black;
}

.leaflet-top.leaflet-left {
	left: 20px;
	top: 20px;
}

#submit {
	background-color: #0098FF;
	color:  #FFFFFF;
	cursor: pointer;
	border: none;
	font-size: 30px;
	padding: 5px 20px 5px 20px;
}

#submit:hover {
	background-color: #007ACC;
}

#submit:disabled {
	background-color: lightgray;
	cursor: not-allowed;
}

.instructions {
	margin: 40px 0;
}

.section {
	font-size: 1.3rem;
	margin: 40px 0;
}

.pentagon {
	display: inline-block;
	transform: rotate(-18deg);
}

.button-container {
	text-align: center;
}
